<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project AB</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    	<a class="navbar-brand" href="/project-ab">Project AB</a>
  		<div class="collapse navbar-collapse" id="navbarSupportedContent">
  			<ul class="navbar-nav mr-auto">
	  			<li class="nav-item active">
	  				<a class="nav-link" href="/project-ab">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
		        	<a class="nav-link" href="/project-ab/journey">Create Journey</a>
		      	</li>
	    	</ul>
    	</div>
	</nav>
	<div class="container-fluid">
		<form>
		<div class="container-fluid form-row align-items-center">
			<div class="col-auto">
	      		<label class="sr-only" for="inlineFormInput">Source</label>
	      		<input type="text" class="form-control mb-2" id="source" placeholder="Source">
	    	</div>
	    	<div class="col-auto">
	      		<label class="sr-only" for="inlineFormInput">Destination</label>
	      		<input type="text" class="form-control mb-2" id="destination" placeholder="destination">
	    	</div>
	    	<div class="col-auto">
	      		<button type="submit" class="btn btn-primary mb-2">Submit</button>
	    	</div>
	  	</div>
	</form>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>	
</body>
</html>