<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments :: headerab" />
</head>
<body>
    <div th:replace="fragments :: navbarab" />
	<div class="container">
		<form action="#" th:action="@{/project-ab/createJourney}" th:object="${journey}" method="post">
			<div class="form-group row center">
    		</div>
    		<div class="form-group row">
				<!-- Traveller Name -->
				<span for="travellerName" class="col-sm-3 col-form-label" th:text="#{label.journey.travellername}"/>
				<div class="col-sm-3">
					<input type="text" class="form-control" th:field="*{travellerName}" maxlength="50" />
	    		</div>
	    		<span class="col-sm-4 error-message" th:each="error: ${#fields.errors('travellerName')}" th:text="${error}" />
    		</div>
    		<div class="form-group row">
	    		<!-- Source -->
		    	<span for="from" class="col-sm-3 col-form-label" th:text="#{label.journey.from}" />
			    <div class="col-sm-3">
			    	 <input type="text" class="form-control" th:field="*{source}" id="source" />
			    </div>
		    	 <span class="col-sm-4 error-message" th:each="error: ${#fields.errors('source')}" th:text="${error}" />
    		</div>
    		<script>
    			$(document).ready(function(){
    				$('#source').autocomplete({
    					serviceUrl: '/project-ab/airports',
    					paramName: "name",
    					delimiter: ",",
    					transformResult: function(response){
    						return {
    							suggestions: $.map($.parseJSON(response), function(a){
    								return{value: a.airportName, data: a.code};
    							})
    						};
    					}
    				});
    			});
    		</script>
    		<div class="form-group row">
	    		<!-- Start Date -->
	    		<span for="fromDate" class="col-sm-3 col-form-label" th:text="#{label.journey.fromDate}" />
		        <div class="col-sm-3">
		            <div class="form-group">
		                <div class="input-group date" id="startdatetimepicker" data-target-input="nearest">
		                    <input type="text" class="form-control datetimepicker-input" data-target="#startdatetimepicker" th:field="*{fromDate}" />
		                    <div class="input-group-append" data-target="#startdatetimepicker" data-toggle="datetimepicker">
		                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <script type="text/javascript">
		            $(function () {
		                $('#startdatetimepicker').datetimepicker({
		                	format: 'YYYY-MM-DDTHH:mm:ssZ',
		                });
		                
		                $("#startdatetimepicker").on("change.datetimepicker", function (e) {
		                    $('#enddatetimepicker').datetimepicker('minDate', e.date);
		                });
		            });
		        </script>
		        <span class="col-sm-4 error-message" th:each="error: ${#fields.errors('fromDate')}" th:text="${error}" />
	        </div>
    		<div class="form-group row">
	    		<!-- Destination -->
			    <span for="destination" class="col-sm-3 col-form-label" th:text="#{label.journey.destination}" />
			    <div class="col-sm-3">
			      	<input type="text" class="form-control" th:field="*{destination}" />
			    </div>
			    <span class="col-sm-4 error-message" th:each="error: ${#fields.errors('destination')}" th:text="${error}" />
		    </div>
    		<script>
    			$(document).ready(function(){
    				$('#destination').autocomplete({
    					serviceUrl: '/project-ab/airports',
    					paramName: "name",
    					delimiter: ",",
    					transformResult: function(response){
    						return {
    							suggestions: $.map($.parseJSON(response), function(a){
    								return{value: a.airportName, data: a.code};
    							})
    						};
    					}
    				});
    			});
    		</script>
	        <div class="form-group row">
			    <!-- End Date -->
			    <span for="toDate" class="col-sm-3 col-form-label" th:text="#{label.journey.toDate}" />
		        <div class="col-sm-3">
		            <div class="form-group">
		                <div class="input-group date" id="enddatetimepicker" data-target-input="nearest">
		                    <input type="text" class="form-control datetimepicker-input" data-target="#enddatetimepicker" th:field="*{toDate}" />
		                    <div class="input-group-append" data-target="#enddatetimepicker" data-toggle="datetimepicker">
		                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <script type="text/javascript">
		            $(function () {
		                $('#enddatetimepicker').datetimepicker({
		                	format: 'YYYY-MM-DDTHH:mm:ssZ',
		                    useCurrent: false,
		                });

		                $("#enddatetimepicker").on("change.datetimepicker", function (e) {
		                    $('#startdatetimepicker').datetimepicker('maxDate', e.date);
		                });
		            });
		        </script>
		        <span class="col-sm-4 error-message" th:each="error: ${#fields.errors('toDate')}" th:text="${error}" />
    		</div>
  			<div class="col-md-4 text-center">
	  			<button class="btn btn-primary" type="submit">Save Journey</button>
    		</div>
		</form>
	</div>

</body>
</html>