<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Fragments</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:fragment="headerab">
	    <link rel="stylesheet" type="text/css" href="/webjars/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"/>
	    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
	    
	    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	    <script type="text/javascript" src="/webjars/momentjs/min/moment.min.js"></script>
	    <script type="text/javascript" src="/webjars/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
	    <script type="text/javascript" src="/webjars/popper.js/umd/popper.min.js"></script>
	    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	</div>
	
	<div th:fragment="navbarab">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	    	<a class="navbar-brand" href="/project-ab">Project AB</a>
	  		<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  			<ul class="navbar-nav mr-auto">
		  			<li class="nav-item active">
		  				<a class="nav-link" href="/project-ab">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
			        	<a class="nav-link" href="/project-ab/login" sec:authorize="!isAuthenticated()">Login</a>
			      	</li>
					<li class="nav-item">
			        	<a class="nav-link" href="/project-ab/register" sec:authorize="!isAuthenticated()">Register</a>
			      	</li>
			      	<li class="nav-item">
			        	<a class="nav-link" href="/project-ab/journey" sec:authorize="isAuthenticated()">Create Journey</a>
			      	</li>
			      	<li class="nav-item">
			        	<a class="nav-link" href="/project-ab/searchJourney" sec:authorize="isAuthenticated()">Search Journey</a>
			      	</li>
		    	</ul>
		    	<span class=navbar-text>
					<span th:text="'Welcome ' + ${#authentication.getPrincipal().getUsername()} + '!'" sec:authorize="isAuthenticated()" th:remove="tag" />
		    	</span>
	  			<ul class="navbar-nav mr-auto navbar-right">
					<li class="nav-item">
			        	<a class="nav-link" href="/project-ab/logout" sec:authorize="isAuthenticated()">Logout</a>
			      	</li>
		    	</ul>
	    	</div>
		</nav>
	</div>
</body>
</html>