<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  	<div th:replace="fragments :: headerab" />
  	<link rel="stylesheet" type="text/css" href="css/base.css"/>
</head>
<body>
    <div th:replace="fragments :: navbarab" />
    
    <div class="container">
		<form action="#" th:action="@{/project-ab/loginAuthenticate}" th:object="${user}" method="POST">
			<div class="form-group row"></div>
    		<div class="form-group row">
				<span for="username" class="col-sm-2 col-form-label" th:text="#{label.register.username}" />
				<div class="col-sm-3">
					<input type="text" class="form-control" th:field="*{username}" >
	    		</div>
    		</div>
    		<div class="form-group row">
		    	<span for="password" class="col-sm-2 col-form-label" th:text="#{label.register.password}" />
			    <div class="col-sm-3">
			      	<input type="password" class="form-control" th:field="*{password}">
			    </div>
    		</div>
    		<div class="form-group row">
	    		<span th:if="${user.status != null}" th:text="${user.status}">Error</span>
    		</div>
  			<div class="col-md-4 text-center">
	  			<button class="btn btn-primary" type="submit">Login</button>
    		</div>
		</form>
	</div>
	
</body>
</html>