<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project AB</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	
  	<div th:replace="fragments :: headerab" />
    
</head>
<body>
    <div th:replace="fragments :: navbarab" />
    
    <div class="container-fluid">
		<form action="#" th:action="@{/project-ab/register}" th:object="${user}" method="post">
			<div class="form-group row"></div>
    		<div class="form-group row">
				<!-- Traveller Name -->
				<label for="username" class="col-sm-2 col-form-label">Username : </label>
				<input type="text" class="col-sm-3 form-control" th:field="*{username}" >
				<span class="col-sm-4 error-message" th:each="error: ${#fields.errors('username')}" th:text="${error}" />
    		</div>
    		<div class="form-group row">
	    		<!-- Source -->
		    	<label for="password" class="col-sm-2 col-form-label">Password : </label>
		      	<input type="password" class="col-sm-3 form-control" th:field="*{password}">
			    <ul class="text-left" th:each="error: ${#fields.errors('password')}">
			    	<li th:each="message : ${error.split(',')}">
                        <p class="error-message" th:text="${message}"></p>
                    </li>
                </ul>
    		</div>
    		<div class="form-group row">
	    		<!-- Source -->
		    	<label for="password" class="col-sm-2 col-form-label">Re-enter Password : </label>
		      	<input type="password" class="col-sm-3 form-control" th:field="*{matchingPassword}">
			    <ul class="text-left" th:each="error: ${#fields.errors('matchingPassword')}">
			    	<li th:each="message : ${error.split(',')}">
                        <p class="error-message" th:text="${message}"></p>
                    </li>
                </ul>
    		</div>
    		<div class="form-group row">
	    		<!-- Source -->
		    	<label for="email" class="col-sm-2 col-form-label">Email : </label>
		      	<input type="text" class="col-sm-3 form-control" th:field="*{email}">
			    <span class="col-sm-4 error-message" th:each="error: ${#fields.errors('email')}" th:text="${error}" />
    		</div>
  			<div class="col-md-4 text-center">
	  			<button class="btn btn-primary" type="submit">Register</button>
    		</div>
		</form>
	</div>
</body>
</html>