<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments :: headerab" />
</head>
<body>
    <div th:replace="fragments :: navbarab" />
	<div class="container-fluid">
		<form action="#" th:action="@{/project-ab/searchJourney}" th:object="${journeyDto}" method="post">
			<div class="form-group row centre">
    		</div>
    		<div class="form-group row">
    			<div class="col-sm-2">
			    	<span for="from" class="col-sm-2 col-form-label" th:text="#{label.journey.from}" />
    			</div>
    			<div class="col-sm-4">
		    		<span for="fromDate" class="col-sm-2 col-form-label" th:text="#{label.journey.fromDate}" />
    			</div>
    			<div class="col-sm-2">
				    <span for="destination" class="col-sm-2 col-form-label" th:text="#{label.journey.destination}" />
    			</div>
    			<div class="col-sm-4">
				    <span for="toDate" class="col-sm-2 col-form-label" th:text="#{label.journey.toDate}" />
    			</div>
    		</div>
    		<div class="form-group row">
	    		<!-- Source -->
			    <div class="col-sm-2">
			      	<input type="text" read class="form-control" th:field="*{source}">
			    </div>
	    		<script>
	    			$(document).ready(function(){
	    				$('#source').autocomplete({
	    					serviceUrl: '/project-ab/airports',
	    					paramName: "name",
	    					delimiter: ",",
	    					transformResult: function(response){
	    						return {
	    							suggestions: $.map($.parseJSON(response), function(a){
	    								return{value: a.airportName, data: a.code};
	    							})
	    						};
	    					}
	    				});
	    			});
	    		</script>
	    		<!-- Start Date -->
		        <div class="col-sm-4">
		            <div class="form-group">
		                <div class="input-group date" id="startdatetimepicker" data-target-input="nearest">
		                    <input type="text" class="form-control datetimepicker-input" data-target="#startdatetimepicker" th:field="*{fromDate}" />
		                    <div class="input-group-append" data-target="#startdatetimepicker" data-toggle="datetimepicker">
		                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <script type="text/javascript">
		            $(function () {
		            	$('#startdatetimepicker').datetimepicker({
		                	format: 'YYYY-MM-DDTHH:mm:ssZ',
		                });
		                
		                $("#startdatetimepicker").on("change.datetimepicker", function (e) {
		                    $('#enddatetimepicker').datetimepicker('minDate', e.date);
		                });
		            });
		        </script>
	    		<!-- Destination -->
			    <div class="col-sm-2">
			      	<input type="text" class="form-control" th:field="*{destination}" />
			    </div>
	    		<script>
	    			$(document).ready(function(){
	    				$('#destination').autocomplete({
	    					serviceUrl: '/project-ab/airports',
	    					paramName: "name",
	    					delimiter: ",",
	    					transformResult: function(response){
	    						return {
	    							suggestions: $.map($.parseJSON(response), function(a){
	    								return{value: a.airportName, data: a.code};
	    							})
	    						};
	    					}
	    				});
	    			});
	    		</script>
			    <!-- End Date -->
		        <div class="col-sm-4">
		            <div class="form-group">
		                <div class="input-group date" id="enddatetimepicker" data-target-input="nearest">
		                    <input type="text" class="form-control datetimepicker-input" data-target="#enddatetimepicker" th:field="*{toDate}" />
		                    <div class="input-group-append" data-target="#enddatetimepicker" data-toggle="datetimepicker">
		                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <script type="text/javascript">
		            $(function () {
		            	$(function () {
			                $('#enddatetimepicker').datetimepicker({
			                	format: 'YYYY-MM-DDTHH:mm:ssZ',
			                    useCurrent: false,
			                });

			                $("#enddatetimepicker").on("change.datetimepicker", function (e) {
			                    $('#startdatetimepicker').datetimepicker('maxDate', e.date);
			                });
			            });
		            });
		        </script>
    		</div>
    		<div class="form-group row">
	    		<!-- Source Error -->
			    <div class="col-sm-2">
			      	<span class="col-sm-4 error-message" th:each="error: ${#fields.errors('source')}" th:text="${error}" />
			    </div>
	    		<!-- Start Date Error -->
		        <div class="col-sm-4">
		            <span class="col-sm-4 error-message" th:each="error: ${#fields.errors('fromDate')}" th:text="${error}" />
		        </div>
	    		<!-- Destination Error -->
			    <div class="col-sm-2">
			      	<span class="col-sm-4 error-message" th:each="error: ${#fields.errors('destination')}" th:text="${error}" />
			    </div>
			    <!-- End Date Error -->
		        <div class="col-sm-4">
		            <span class="col-sm-4 error-message" th:each="error: ${#fields.errors('toDate')}" th:text="${error}" />
		        </div>
    		</div>
    		<div class="col-sm-10 text-center">
	  			<button class="btn btn-primary" type="submit">Search</button>
    		</div>
		</form>
		<!-- RESULTS -->
		
		<div th:if="${not #lists.isEmpty(journeys)}">
			<div class="col-sm-10 text-center">
				<label for="endDate" class="col-sm-2 col-form-label">Journeys</label>
			</div>
			<table class="table">
				<thead class="thead-dark">
					<tr>
				    
						<th scope="col-sm-2">
							<span for="travellername" class="col-sm-2 col-form-label" th:text="#{label.journey.travellername}" />
						</th>
						<th scope="col-sm-2">
					    	<span for="from" class="col-sm-2 col-form-label" th:text="#{label.journey.from}" />
				    	</th>
			      		<th scope="col-sm-2">
				    		<span for="fromDate" class="col-sm-2 col-form-label" th:text="#{label.journey.fromDate}" />
			    		</th>
			      		<th scope="col-sm-2">
						    <span for="destination" class="col-sm-2 col-form-label" th:text="#{label.journey.destination}" />
					    </th>
			      		<th scope="col-sm-2">
						    <span for="toDate" class="col-sm-2 col-form-label" th:text="#{label.journey.toDate}" />
					    </th>
			      		<th scope="col-sm-2">
			      			<span for="contactperson" class="col-sm-2 col-form-label" th:text="#{label.journey.contactperson}" />
						</th>
			    	</tr>
			  	</thead>
			  	<tbody>
			    	<tr  th:each="j : ${journeys}">
			      		<td th:text="${j.travellerName}" />
			      		<td th:text="${j.source}" />
			      		<td th:text="${j.fromDate}" />
					    <td th:text="${j.destination}" />
					    <td th:text="${j.toDate}" />
					    <td th:text="${j.contact}" />
			    	</tr>
			  	</tbody>
			</table>
		</div>
	</div>

</body>
</html>